definitions:
  buildGoStep: &buildGo
    name: Check Go lib
    image: golang:1.20
    script:
      - cd examples
      - go build
  buildDenoStep: &buildDeno
    name: Check Deno lib
    image: denoland/deno:1.34.2
    script:
      - cd examples
      - deno check main.ts

pipelines:
  pull-requests:
    "**":
      - parallel:
        - step: *buildGo
        - step: *buildDeno
  branches:
    main:
      - parallel:
        - step: *buildGo
        - step: *buildDeno
