definitions:
  steps:
    - step: &check
        name: Check Bun lib
        image: oven/bun:1
        script:
          - bun install --frozen-lockfile
          - bun test

pipelines:
  pull-requests:
    "**":
      - step: *check
  branches:
    main:
      - step: *check
