pipelines:
  default:
    - step:
        name: Check Go lib
        image: golang:1.20
        script:
          - cd examples
          - go build
    - step:
        name: Check Deno lib
        image: runcitadel/deno:v1.29.3
        script:
          - cd examples
          - deno check main.ts
